.review{
  width: 55%;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.review-section{
  /*border: 2px solid mistyrose;*/
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.review-section a{
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #00ced1;
  line-height: 3rem;
}

.review-section a:hover{
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #a9a9a9;
  line-height: 3rem;
}

/*.review-section section{
  margin-bottom: 2rem;
}*/

.review-section h2{
  font-size: 1.2rem;
  padding: 0;
  margin-left: 0;
}

.review-section p{
  padding: 0;
}

.place-order input{
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  background-color: #F47400;
  font-weight: normal;
  font-size: .75rem;
  padding: 1rem 2rem;
  margin: auto;
  letter-spacing: 0.3rem;
  transition: .15s;
  display: block;

}

.place-order input:hover{
  background-color: #ff7f50;
}

.billing-submit{
  padding-bottom: 4rem;
}

.billing-submit button{
  background-color: #F47400;
  border: none;
  margin-right: 10rem;
}

.billing-submit button:hover{
  background-color: #a9a9a9;
  border: none;
}

.billing-submit a{
  color: white;
}

.ship {
  background-color: white;
  color: #2b2b35;
  margin: 1rem;
  padding: 1rem;
}

.payment-method {
  background-color: white;
  color: #2b2b35;
  margin: 1rem;
  padding: 1rem;
}

.bill {
  background-color: white;
  color: #2b2b35;
  margin: 1rem;
  padding: 1rem;
}

.team-view-container{
  display: block;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  margin-left: 10rem;
  margin-right: 10rem;
}

.team-view-container h3{
  text-align: center;
}

form{
  margin-left: 10rem;
  margin-right: 10rem;
}

label{
  margin: 1rem;
  text-align: left;
}

input{
  /*padding: 1rem;
  margin: 1rem;*/
}
