.block h3{
  padding-bottom: 1em;
}

.shipping-billing-field h2{
  margin-left: 1em;
}

.ship {
  background-color: white;
  color: #2b2b35;
  /*margin: 1rem;*/
  /*padding: 1rem;*/
}

.bill {
  background-color: white;
  color: #2b2b35;
  /*margin: 1rem;*/
  /*padding: 1rem;*/
}

.payment-method {
  background-color: white;
  color: #2b2b35;
  /*margin: 1rem;*/
  /*padding: 1rem;*/
}

.bill-card{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-detail{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



/* using team-view-container from main css to
frame the container of each section*/
.team-view-container{
  display: block;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  margin-left: 15rem;
  margin-right: 15rem;
}

.team-view-container h3{
  text-align: center;
}

form{
  display: block;
  /*margin-left: 5rem;
  margin-right: 5rem;*/
}

/*.bill-card{
  display: block;
  width: 100%;
}*/

#card-type select{
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

#card-type option{
  padding: 12px 20px;
  line-height: 1rem;
}

.card-detail{
  display: inline-block;
  width: 45%;
}

.card-detail#security{
  padding-right: 1rem;
}

.go-back a{
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: .75em;
  padding: .5em 2em;
  margin: .25em;
  letter-spacing: 2px;
  color: #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.go-back a:hover{
  color: #a9a9a9;
  font-weight: bold;
}

.billing-submit a{
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: .75em;
  padding: .5em 2em;
  margin: .25em;
  letter-spacing: 5px;
  color: #FFF;
  background-color: #FC9D1F;
  border: 2px solid #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.billing-submit a:hover{
  border: 2px solid #FC9D1F;
  background-color: white;
  color: #FC9D1F;
}

label{
  text-align: left;
}

/*Review your order section*/

.review{
  display: block;
}

.card-num{
  font-family: "Aleo", serif;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

/*.p-class{
  display: inline-block;
  text-align: left;
}*/

.review-section{
  background-color: white;
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.review-section p{
  text-align: left;
}


.review-section section{
  align-items: center;
}

.ship-review{
  margin-right: 1rem;
  padding: 1rem;
}

.bill-review{
  margin-right: 1rem;
  padding: 1rem;
}

.payment-review{
  margin-right: 1rem;
  padding: 1rem;
}

.review-section h3{
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: #a9a9a9;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}


.review-section a{
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: #00ced1;
  padding-bottom: 1rem;
}

.review-section a:hover{
  font-family: "Dosis", sans-serif;
  color: #a9a9a9;
  /*line-height: 3rem;*/
}

.review-section h2{
  font-size: 1.2rem;
  padding: 0;
  margin-left: 0;
}

.shipping-billing-review p{
  font-family: "Dosis", Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  padding: 0;
}

.order-summary h3{
  font-size: 1rem;
  color: black;
}

.place-order a{
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: .75em;
  padding: 1em 2em;
  margin: .25em;
  letter-spacing: 5px;
  color: #FFF;
  background-color: #FC9D1F;
  border: 2px solid #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  text-align: center;
}

.place-order a:hover{
  padding: 1em 2em;
  margin: .25em;
  letter-spacing: 5px;
  border-radius: 30px;
  border: 2px solid #FC9D1F;
  background-color: white;
  color: #FC9D1F;
}

.grid-col-3of9 {
  width: 33.3%;
}

.order-summary h2 h3 p{
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Thank you page*/
.thanks{
  /*text-align: left;*/
  margin-left: 2rem;
  margin-right: 2rem;
}

.thanks h2{
  font-weight: bold;
}

.thanks p{
  font-size: 1em;
  text-transform: none;
  padding: 0;
}

.thanks-blurb a{
  font-size: 1em;
  letter-spacing: normal;
}

/*.view-more-link{
  text-align: center;
}*/

.shipping-summary{
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

/*Media Queries*/
/*phone size: 375px*/
/*@media (min-width: 23.4em) {*/
@media (min-width: 22em) {
  .shipping-billing-field h2{
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }

  .grid-col-3of9{
    width: 100%;
  }

  .team-view-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .card-detail{
    width: 50%;
    float: left;
  }

  .go-back{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;

  }

  .billing-submit{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .review-section{
    background-blend-mode: overlay;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .thanks{
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

@media (min-width: 39.6em) {
  .go-back{
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    float: right;
  }

  form{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


@media (min-width: 40.6em) {
  .team-view-container{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 100%;
  }

  form{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .review-section{
    margin-left: 3rem;
    margin-right: 3rem;
  }

}

@media (min-width: 50em) {
  .team-view-container{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 100%;
  }

  form{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 56.25em) {
  .team-view-container{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 100%;
  }

  form{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/*970px*/
@media (min-width: 60.6em) {

  form{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 67.75em) {

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 33%;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .team-view-container{
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

/*1142px*/
@media (min-width: 71.3em) {
  .team-view-container{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}


@media (min-width: 87.5em) {
  .shipping-billing-field h2{
    margin-top: 1rem;
  }

  .grid-col-3of9 {
    width: 33.3%;
  }

  .team-view-container{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  label{
    text-align: left;
  }

  #card-type select{
    /*padding: 12px 20px;*/
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    -webkit-appearance: menulist;
    background-image: url("../img/dropdown-arrow.png") no-repeat 20% 20%;
    /*appearance: none;       /* remove default arrow */*/
  }

  .billing-submit{
    margin-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    float: right;
  }

  .go-back{
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .review-section{
    margin-left: 10rem;;
    margin-right: 10rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
