/*CSS for Billing, Confirmation, and Thank You Pages*/

.block h3{
  padding-bottom: 1em;
}

.shipping-billing-field h2{
  margin-left: 1em;
}

/* Billing Section Styling */
.bill {
  background-color: white;
  color: #2b2b35;
}

/* Shipping Section Styling */
.ship {
  background-color: white;
  color: #2b2b35;
}

/* Payment Section Styling */
.payment-method {
  background-color: white;
  color: #2b2b35;
}

/* Styling of fields in each form */
.bill-card{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* using team-view-container from main css to
frame the container of each section */
.team-view-container{
  display: block;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  margin-left: 15rem;
  margin-right: 15rem;
}

.team-view-container h3{
  text-align: center;
}

form{
  display: block;
}

/* Styling of the fields side by side in payment method */
.card-detail{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  width: 45%;
}

.card-detail#security{
  padding-right: 1rem;
}

/* Styling return to cart link in billing html */
.go-back a{
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: .75em;
  padding: .5em 2em;
  margin: .25em;
  letter-spacing: 2px;
  color: #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.go-back a:hover{
  color: #a9a9a9;
  font-weight: bold;
}

/* Styling continue link in billing html */
.billing-submit a{
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: .75em;
  padding: .5em 2em;
  margin: .25em;
  letter-spacing: 5px;
  color: #FFF;
  background-color: #FC9D1F;
  border: 2px solid #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.billing-submit a:hover{
  border: 2px solid #FC9D1F;
  background-color: white;
  color: #FC9D1F;
}

label{
  text-align: left;
}


/* Styling Review your Order Section (CONFIRMATION HTML) */
.review{
  display: block;
}

/* Styling Credit card number in confirmation html */
.card-num{
  font-family: "Aleo", serif;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.review-section{
  background-color: white;
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.review-section p{
  text-align: left;
}

.review-section section{
  align-items: center;
}

.ship-review{
  padding: 1rem;
}

.bill-review{
  padding: 1rem;
}

.payment-review{
  padding: 1rem;
}

.review-section h3{
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: #a9a9a9;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.review-section a{
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: #00ced1;
  padding-bottom: 1rem;
}

.review-section a:hover{
  font-family: "Dosis", sans-serif;
  color: #a9a9a9;
}

.review-section h2{
  font-size: 1.2rem;
  padding: 0;
  margin-left: 0;
}

.shipping-billing-review p{
  font-family: "Dosis", Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
  padding: 0.5rem 0 0 0;
  margin: 0;
}

/* Styling of Place your order button */
.place-order a{
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  font-size: .75em;
  padding: 1em 2em;
  margin: .25em;
  letter-spacing: 5px;
  color: #FFF;
  background-color: #FC9D1F;
  border: 2px solid #FC9D1F;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  text-align: center;
}

.place-order a:hover{
  padding: 1em 2em;
  margin: .25em;
  letter-spacing: 5px;
  border-radius: 30px;
  border: 2px solid #FC9D1F;
  background-color: white;
  color: #FC9D1F;
}

/* Styling grids in confirmation html */
.grid-col-3of9 {
  width: 33.3%;
}

/* Order Summary Content Stylilng */
.order-summary{
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
}

.order-summary p{
  text-align: center;
  letter-spacing: 5px;
  font-size: 0.9em;
  padding: 0;
}


.order-summary h3{
  font-family: "Aleo", Verdana, sans-serif;
  font-size: 1rem;
  color: black;
}

/* Thank you page styling */
.thanks{
  margin-left: 8rem;
  margin-right: 8rem;
}

.thanks h2{
  font-weight: bold;
  text-align: center;
}

.thanks p{
  font-size: 1em;
  text-transform: none;
  padding: 0;
  margin: 0.5rem;
}

.thanks-blurb a{
  font-size: 1em;
  letter-spacing: normal;
}

.shipping-summary{
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.shipping-summary p{
  text-align: center;
}

.see-more{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Media Queries*/

/*smallest screen size: 352px*/
@media (min-width: 22em) {
  .shipping-billing-field h2{
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }

  .grid-col-3of9{
    width: 100%;
  }

  .team-view-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .bill{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .ship{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .payment-method{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .card-detail{
    width: 50%;
    float: left;
  }

  .go-back{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;

  }

  .billing-submit{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .review-section{
    background-blend-mode: overlay;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .order-summary{
    width: 100%;
  }

  .place-order{
    padding: 2rem;
    text-align: center;
  }

  .thanks{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 31em) {
  .review-section{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .review-section{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1rem;
    /*padding-left: 3rem;
    padding-right: 3rem;*/
  }

  .shipping-billing-review{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
  }

  .grid-col-1of2 {
    width: 50%;
  }
}

@media (min-width: 39.6em) {
  .go-back{
    margin-left: 1rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    float: right;
  }

  form{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid-col-1of2 {
    width: 40%;
  }
}


@media (min-width: 40.6em) {
  .team-view-container{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 100%;
  }

  form{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .review-section{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 2rem;
    /*padding-left: 4rem;
    padding-right: 4rem;*/
  }

  .go-back{
    margin-left: 3rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 4.5rem;
    margin-bottom: 2rem;
    float: right;
  }

  .shipping-billing-review{
    justify-content: center;
    align-items: center;
  }

  /*.review-header{
    text-align: center;
  }*/

  /*.text-review{
    margin-left: 6rem;
  }*/
}


@media (min-width: 50em) {
  .team-view-container{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  .review-section{
    /*padding-left: 0;*/
    /*padding-right: 0; */
  }

  .grid-col-3of9{
    width: 100%;
  }

  .shipping-billing-review .grid-col-3of9{
    width: 33.3%;

  }

  form{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-col-1of2 {
    /*width: 25%;*/
    width: 50%;
  }

  .go-back{
    margin-left: 2rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    float: right;
  }

  .thanks{
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 56.25em) {
  .team-view-container{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .team-view-boxes{
    padding: 5rem;
    margin: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .shipping-billing-field h2{
    text-align: center;
  }

  /*.grid-col-3of9{
    width: 100%;
  }*/

  form{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .go-back{
    margin-left: 3rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 4.5rem;
    margin-bottom: 2rem;
    float: right;
  }
}

/*970px*/
@media (min-width: 60.6em) {
  .team-view-boxes{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  form{
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

@media (min-width: 63em){
  .review-section{
    margin-left: 6rem;
    margin-right: 6rem;
    /*padding-top: 2rem;*/
    /*padding-left: 6rem;
    padding-right: 6rem;*/
  }

  .go-back{
    margin-left: 2rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    float: right;
  }
}

@media (min-width: 67.75em) {

  .shipping-billing-field h2{
    text-align: center;
  }

  .grid-col-3of9{
    width: 33%;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .team-view-container{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-col-1of2 {
    width: 50%;
  }

  .review-section{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .text-review{
    margin-bottom: 1rem;
  }

  .go-back{
    margin-left: 0rem;
    margin-bottom: 3rem;
    float: left;
  }

  .billing-submit{
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    float: right;
  }
}

@media (min-width: 71.2em) {
  .team-view-container{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

}

@media (min-width: 72em) {
  .review-section{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 76em) {

  .review-section{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .shipping-billing-review{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .thanks{
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (min-width: 81em) {
  .review-section{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .shipping-billing-review{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .thanks{
    margin-left: 15rem;
    margin-right: 15rem;
  }
}


@media (min-width: 87.5em) {
  .shipping-billing-field h2{
    margin-top: 1rem;
  }

  .grid-col-3of9 {
    width: 33.3%;
  }

  .team-view-container{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  form{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  label{
    text-align: left;
  }

  .billing-submit{
    margin-right: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    float: right;
  }

  .go-back{
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .review-section{
    margin-left: 10rem;;
    margin-right: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .review-section h2 {
    font-size: 1.1rem;
  }

  .grid-col-1of2 {
    width: 50%;
  }

  .thanks{
    margin-left: 17rem;
    margin-right: 17rem;
  }
}

@media (min-width: 107em) {
  .shipping-billing-review{
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .thanks{
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
