.checkout-cart {
  /*display: block;*/
  margin: 0 5em 35em 5em;
}


table {
  table-layout: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Aleo", Verdana, sans-serif;
  background-color: #FFF;
  border-radius: 15px;
  font-size: 80%;
}

.overview {
  display: inline-block;
  width: 60%;
  float: left;
}

.reciept {
  display: inline-block;
  width: 30%;
  float: right;

}

.checkout-col {
  width: 10%;
}

th {
  letter-spacing: 5px;
}

th, td {
  padding: 1em;
}

img.checkout-stamp {
  max-width: 50%;
}

img.checkout-postcard {
  max-width: 75%;
}

.checkout-remove {
  padding: 0;
}

img.checkout-remove {
    max-width: 15%;
}

img.checkout-remove:hover {
    opacity: 0.5;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

tr.checkout-row-divider, .checkout-row-divider td, .checkout-row-divider p{
  padding: 0;
  margin: 0 0 2em 0;
}

.checkout-row-divider th, .checkout-row-divider td, tr.checkout-row-divider{
  border-bottom: dotted 1px;
}

.footer {
  clear: both;
  display: block;
}
