.checkout-cart {
  margin-top: 5em;
  margin-bottom: 5em;

}
table {
  table-layout: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Aleo", Verdana, sans-serif;
  background-color: #FFF;
  border-radius: 15px;
  font-size: 80%;
}

.overview {
  display: inline-block;
  float: left;
}

.reciept {
  display: inline-block;
  float: right;
}

.checkout-col {
  width: 10%;
}

th {
  letter-spacing: 5px;
}

th, td {
  padding: 1em;
}

img.checkout-stamp {
  max-width: 50%;
}

img.checkout-postcard {
  max-width: 75%;
}

.checkout-remove {
  padding: 0;
}

img.checkout-remove {
    max-width: 15%;
}

img.checkout-remove:hover {
    opacity: 0.5;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

tr.checkout-row-divider, .checkout-row-divider td, .checkout-row-divider p{
  padding: 0;
  margin: 0 0 2em 0;
}

.checkout-row-divider th, .checkout-row-divider td, tr.checkout-row-divider{
  border-bottom: dotted 1px;
}

.message-preview {
  font-family: "Dosis", Verdana, sans-serif;
  text-transform: none;
  text-align: left;
}

a.proceed-button {
  float: right;
  text-align: center;
  }

@media (min-width: 22em) {
  .overview, .reciept {
    width: 100%;
  }

  .overview {
    position: relative;
    overflow-x: scroll;
    margin-bottom: 2em;
  }

  .reciept {
    margin-bottom: 5em;
  }

  .checkout-cart {
    margin: 5em 2em 5em 2em;
  }

  a.proceed-button {
    font-size: .68em;
    }

}

@media (min-width: 41.25em) {
  .overview {
    overflow-x: hidden;
  }
}

@media (min-width: 65em) {
  .checkout-cart {
    margin: 5em;
  }

}

@media (min-width: 73.75em) {
  .overview {
    width: 60%;
    margin-bottom: 5em;
  }

  .reciept {
    width: 33%;
  }

}
