.remove {
 max-width: 50%;
 /*justify-content: center;*/
 /*align-items: center;*/
 /*margin-top: 6em;*/
 text-align: center;
 justify-content: center;
 align-items: center;
 position: relative;
}

.remove p {
  padding: 0;
}

.remove img {
  max-width: 25%
}


.checkout {
  float: right;
  margin-right: 6em;
}
