#nav-toggle {
	background-color: black;
	display: block;
	border: 0;
}

#nav-toggle:hover, #nav-toggle:focus {
	background-color: gray;
}


/*
	Here we hide use .hidden and .shown to enable classes to show and hide our #nav-toggle
*/
#nav-toggle.hidden, #nav-items.hidden {
	visibility: hidden;
	display: none;
}


  /*sets body colour and margin*/
  body {
    color: #2b2b35;
    background-color: #F9F9F9;
    /*background-color: #FCEBC9;*/
  	margin:0;
  	/*font-size: 1.25rem;*/
    text-transform: uppercase;
  }

div.top-bar{
	/*display: block;*/
	overflow: hidden;
	/*width: 100%;*/
	z-index: 1;
	/*display: block;*/
	/*position: relative;*/
	/*margin: 0;
	padding: 0;*/
		/*border-radius: 10px;*/
		margin: 0;
		padding: 0;
		/*background-color:black;
		border: 1.5px solid  #FFBE3E;
		background-blend-mode: overlay;
		margin:0rem;
		padding: 1rem;*/
		/*margin: 1.5rem;*/
		/*height: 500px;*/
		/*width: 300px;*/
		text-align: center;
		justify-content: center;
		align-items: center;
		position: relative;
}

img.cart-logo{
	width: 4%;
	/*right:2rem;*/
	position: fixed;
	z-index: 1;
	top:0;
	right:0;
}

div.cart-placement{
	/*position: fixed;*/
	top:0;
	/*top: 3.75rem;*/
	/*z-index: 1;*/
	/*right: 2rem;*/
	/*border-radius: 10px;*/
	/*border: 1.5px solid  #FFBE3E;*/
	/*background-blend-mode: overlay;*/
	margin: 0;
	/*height: 500px;*/
	/*width: 300px;*/
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	/*mar*/
}
  /*@font-face{
    font-family: AleoRegular;
    src:url(fonts/Aleo-Regular.otf) format("opentype");
  }*/

  /*sets the header types */
    h1 {
      font-family: "Aleo", Verdana, sans-serif;
    	font-size: 3rem;
      letter-spacing: 5px;
      padding-top: .1em;
      margin-left: 5rem;
      /*padding-bottom: .1em;
      padding-left: .1em;
      padding-right: .25em;*/
      margin: .1em;
      /*margin-bottom: .1em;
      margin-right: .25em;
      margin-left: .1em;*/
    }

    h2 {
      font-family: "Aleo", Verdana, sans-serif;
      font-weight: lighter;
      letter-spacing: 5px;
      padding: .1em;
      margin-left: 3.5em;
      /*padding-bottom: .1em;
      padding-left: .1em;
      padding-right: .1em;*/
      /*margin-bottom: .1em;
      margin-right: .35em;
      margin-left: .1em;*/
    }

    h3 {
      font-family: "Aleo", Verdana, sans-serif;
      font-weight: lighter;
      font-style: oblique;
      letter-spacing: 3px;
      padding: .5em;
      /*padding-bottom: .1em;
      padding-left: .1em;
      padding-right: .1em;*/
      margin: .3em;
      /*margin-bottom: .1em;
      margin-right: .45em;
      margin-left: .45em;*/
    }

    h4 {
      font-family: "Aleo", Verdana, sans-serif;
      font-weight: lighter;
      letter-spacing: 3px;
      padding-bottom: .1em;
      margin-bottom: .45em;
      margin-top: .45em;
    }

    h4.menuTitle{
      font-weight: light;
    }

    h4.menuTitle:hover{
      font-weight:bolder;
    }

    h5{
      font-family: "Aleo", Verdana, sans-serif;
      font-size: 1.25rem;
      letter-spacing: 5px;
      color: #9898a5;
      padding: 1em .25em;
      margin: 1em;
      border-bottom: 2px solid #9898a5;
    }

      .border-input{
        border-radius: 30px;
        border: none;
      }
  /*css for the forms*/
  .formtext {
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    padding-bottom: .1em;
    margin-bottom: .45em;
    margin-top: .45em;
  }

  /*css for the in link text type*/
  .link {
    font-family: "Dosis", Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    color: #F97C00;
  }

  /*what happens when someone hovers over the in text links*/
  .link:hover{
    color: #FFBE3E;
    font-style: oblique;
    transition: .25s;
  }
  option.dropdowm-menu-options{
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    padding-bottom: .1em;
    margin-bottom: .45em;
    margin-top: .45em;
  }
  /*sets the restrictiongs for the product images*/
  /*img.internal-product-view{
    width: 10%;
    transition: 0.3s;
    padding: 10rem;
    margin: 0;
    position: relative;
  }

  /*makes the images larger when hovered over*/
  /*img.internal-product-view:hover{
    position: relative;
    width: 120%;
    /*transition-timing-function: ease-in-out;*/
    /*transition: 0.3s;
    opacity: .8;*/
  /*}*/

  /*sets the restrictiongs for the product images*/
  a.products{
    max-width:15%;
    transition: 0.5s;
    padding: 1em;
    font-family: "Dosis", Verdana, sans-serif;
    font-weight:normal;

  }

  /*makes the images larger when hovered over*/
  a.products:hover{
    max-width: 16%;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
  }

  /*sets the restrictiongs for the product images*/
  .products{
    width:100%;
    transition: 0.3s;
    padding: auto;
    opacity: .85;
    /*font-family: "Dosis", Verdana, sans-serif;*/
    /*font-weight:normal;*/
  }

  /*makes the images larger when hovered over*/
  .products:hover{
    transform: scale(1.2,1.2);
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    opacity: 1;
  }


  .normalize {
    margin-left: 0;
  }

  .main-footer {
      background-color: #FFF;
      overflow: hidden;
      margin: 0;
      padding: 0;
      bottom: 0;
      left: 0;
      right:0;
      clear:both;
      width: 100%;
      margin-top: 10rem;
      transition-timing-function: ease-in-out;
      transition: .2s;
      /*border-bottom: 2px dashed #838391;*/
  }
  .main-footer a:hover {
    color:black;
    /*font-weight: bold;*/
    transition: .2s;
    transition-timing-function: ease-in-out;
  }
  .footer-item {
      font-family: "Aleo", Verdana, sans-serif;
      font-weight: normal;
      font-size: 3rem;
      letter-spacing: 5px;
      letter-spacing: 3px;
      margin: .1em;
      color: #838391;
      float: right;
      display: block;
      text-align: center;
      padding: 1.5rem;
      text-decoration: none;
      font-size: 13px;
      transition: .2s ease-out;
      transition-timing-function: ease-in-out;
  }
  .footer-item-header {
      font-family: "Aleo", Verdana, sans-serif;
      font-size: 3rem;
      letter-spacing: 5px;
      letter-spacing: 3px;
      font-weight: normal;
      margin: .1em;
      color: #838391;
      display: block;
      text-align: center;
      padding: 1.5rem;
      float: left;
      text-decoration: none;
      font-size: 13px;
      transition: .2s ease-out;
      transition-timing-function: ease-in-out;
  }
  .footer-item-supporting {
    font-style: oblique;
  }

.logo-scale{
  /*padding: 1rem;*/
  /*margin: 1rem;*/
  float: left;
  width: 30%;
}
  .team-view-container{
    /*border: 1.5px solid  #FFBE3E;*/
    border-radius: 15px;
    background-color: white;
    /*background-blend-mode: overlay;*/
    /*margin-bottom: 3rem;*/
    padding: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom:5rem;
    /*height: 500px;*/
    /*width: 300px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .product-view-boxes{
    /*border-radius: 10px;*/
    /*border: 1.5px solid  #FFBE3E;*/
    /*background-blend-mode: overlay;*/
    padding: 1rem;
    margin: 1rem;
    /*height: 500px;*/
    /*width: 300px;*/
    text-align: left;
    justify-content: center;
    align-items: left;
    position: relative;
  }

  .team-view-boxes{
    /*border-radius: 10px;*/
    /*border: 1.5px solid  #FFBE3E;*/
    /*background-blend-mode: overlay;*/
    padding: 1rem;
    margin: 1rem;
    /*height: 500px;*/
    /*width: 300px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  p.about-text-team{
    font-family: "Dosis", Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    /*color: #F97C00;*/
  }

  p.about-text{
    font-family: "Dosis", Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    /*color: #F97C00;*/
  }
  img.about-images{
    width: 75%;
    border-radius: 50%;
    transition: 0.3s;
    padding: 1em;
    margin: auto;
  }
  img.about-logo-main{
    width: 100%;
    transition: 0.3s;
    /*padding: 1em;*/
    /*margin: auto;*/
  }

  img.checkout-product-view{
    width: 50%;
    transition: 0.3s;
    padding: 0;
    margin: auto;
    /*position: relative;*/
  }





  img.full-product-view{
    width: 100%;
    transition: 0.3s;
    padding: 1em;
    margin: auto;
    /*position: relative;*/
  }

  .about-title{
    font-family: "Aleo", Verdana, sans-serif;
    /*font-weight: bold;*/
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 2rem .1rem .5rem .1rem;
    text-align: center;
    padding: .5em;
    /*float: left*/
  }
  .about-card-title{
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0rem .1rem .5rem .1rem;
    text-align: center;
    padding: .5em;
    /*float: left*/
  }

  .price-title{
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: normal;
    font-style: oblique;
    letter-spacing: 3px;
    padding-left: 1rem;
    margin-left: 1rem;
    text-transform: none;
    text-align: left;
    /*float: left*/
  }

    img.internal-product-view{
      width: 100%;
      transition: 0.3s;
      padding: 1em;
      margin: auto;
      /*position: relative;*/
    }

  /*makes the images larger when hovered over*/
  img.internal-product-view:hover{
    /*width: 120%;*/
    transform: scale(1.1,1.1);
    /*position: relative;*/
    /*transition-timing-function: ease-in-out;*/
    transition: 0.3s;
    /*opacity: 1;*/
  }

  /*sets basics for the form layout */
  ul ol{
    padding: .1em;
    font-family: "Dosis", Verdana, sans-serif;
    font-weight:normal;
    font-style: oblique;
    letter-spacing: 3px;

  }
  .product-index-items{
  text-align: center;
  background: #FFF;
  float: left;
  padding: 0.5em;
  max-width: 25%;
  border-radius: 0.1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  }

  /*sets the bullets for the un-ordered list*/
  .bullets{
    list-style-type: circle;
    font-family: "Dosis", Verdana, sans-serif;
    font-weight:normal;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: left;
  }

  /*sets the bullets for the ordered lists*/
  .numbered{
    font-family: "Dosis", Verdana, sans-serif;
    font-weight:normal;
    font-size: .9em;
    letter-spacing: 1px;
  }

  /*sets basics for the paragraph tag with basic type styling*/
  p {
    font-family: "Dosis", Verdana, sans-serif;
    font-size: 1em;
    padding-left:.1em;
    padding-right:1em;
    padding-top:.5em;
    padding-bottom:.5em;
    margin: .3em .1em;
  }

  p.body-copy {
    font-family: "Dosis", Verdana, sans-serif;
    font-size: 1em;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    text-transform: none;
    letter-spacing: 1px;
  }

  /*sets the text that goes in the coloured blocks */
  .blocks{
    font-family: "Aleo", Verdana, sans-serif;
    font-size: .75em;
    font-weight: lighter;
    padding: 2.5em;
    margin: 1em;
    letter-spacing: 5px;
    color: white;
    text-align: center;
  }

  /*bolds the font when the coloured blocks are hovered on*/
  .blocks:hover{
    font-weight: bold;
    transition: .25s;
  }

  /*sets the cpation style of text and padding*/
  .caption{
    font-family: "Dosis", Verdana, sans-serif;
    font-size: .75em;
    padding:.5em;
    color: #bdbdd1;
    letter-spacing: 2px;
    margin: .5em;
  }

  /*sets basics for the label tag*/
  label {
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 4px;
      /*font-weight: bold;*/
  }

  /*how all buttons should look and react on the page*/
  /*button{
    font-family: "Dosis";
    font-weight: regular;
    font-size: 1em;
    padding:.5em 2em;
    margin: .25em;
    border-radius: 30px;
    letter-spacing: 5px;
    transition: .15s;
  }
  /*how all the buttons should react when hovered, fade from whatever hover styling is put*/
  /*button:hover{
      transition: .15s;
      font-weight: bold;
      padding: .5em 2.2em;
  }*/

  /*sets how the code tag dispalys, gives it a grey background*/
  code{
    background-color: #EEE;
    padding: .2em;
    margin: .1em;
  }

  /*how the submit button looks*/
  .submit {
    background-color: #F47400;
    color:  white;
    border: 2px solid #F47400;
  }

  /*changes the submit button colour when hovered on*/
  .submit:hover{
    background-color:  white;
    color: #F47400;
  }

  /*how the submit button looks*/
  .continue {
    background-color: #FC9D1F;
    color:  white;
    border: 2px solid #FC9D1F;
    float: right;
  }

  /*changes the submit button colour when hovered on*/
  .continue:hover{
    background-color:  white;
    color: #FC9D1F;
  }

  a.personalize-button{
    font-family: "Dosis";
    font-weight: normal;
    font-size: .75em;
    padding:.5em 2em;
    /*margin: .25em .25em .25em 2rem;*/
    border-radius: 30px;
    letter-spacing: 5px;
    transition: .15s;
    background-color: #2FD384;
    color:  white;
    border: 2px solid #2FD384;
    margin-bottom: 1rem;
    float: left;

  }

  /*changes the submit button colour when hovered on*/
  a.personalize-button:hover{
    transition: .15s;
    cursor: pointer;
    background-color:  white;
    color: #2FD384;
  }

  button.remove {
    background-color: white;
    color:  #F46A5C;
    border: 2px solid #F46A5C;
  }

  /*changes the submit button colour when hovered on*/
  button.remove:hover{
    background-color:  #F46A5C;
    color: white;
  }

  /*how the reset button looks like*/
  .reset {
    background-color: #97E7CC;
    color: white;
    border: 2px solid #97E7CC;
  }

  /*changes the reset button colour when hovered on */
  .reset:hover{
    background-color: white;
    color: #97E7CC;
  }

  /*how the buy button will look like*/
  .buy {
    background-color: white;
    color: #f7574b;
    border: 2px solid #f7574b;
  }

  /*changes the buy button colour when hovered on*/
  .buy:hover{
    background-color: #f7574b;
    color: white;
  }

  /*how the menu will look like*/
  .menu{
    background-color: white;
    color: #f7574b;
    border: 2px solid #f7574b;
  }

  /*what happens to the menu textwhen hovered on*/
  .menu:hover{
    background-color: #f7574b;
    color: white;
  }
  /*grey square for grids*/
    #grey1{
      height:100px;
      background:#191919;
    }
    #grey2{
      height:100px;
      background:#222222;
    }

    #grey3{
      height:100px;
      background:#2b2b2b;
    }

    #grey4{
      height:100px;
      background:#343434;
    }

    #grey5{
      height:100px;
      background:#454545;
    }

  /*the coloured blocks for the colour pallete*/
    #orange1{
        height:100px;
        background:#FFBE3E;
    }
    #orange2{
        height:100px;
        background:#FC9D1F;
    }
    #orange3{
        height:100px;
        background:#F47400;
    }

    #green1{
        background:#0CC28A;
        height:100px;
    }
    #green2{
        height:100px;
        background:#21AD87;
    }
    #green3{
        height:100px;
        background:#4A8480;
    }

    #red1{
      height: 100px;
      background: #ffb3ba;
    }

    #red2{
      height: 100px;
      background: #FD8D96;
    }

    #red3{
      height: 100px;
      background: #f17085;
    }

  /*for input field box*/
  /*code REFERENCED FROM W3 SCHOOLS*/
          input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical
      }

      input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }

      input[type=submit]:hover {
          background-color: #45a049;
      }

      /*REFERENCE FROM W3 SCHOOLS https://www.w3schools.com/howto/howto_css_contact_form.asp*/

      /* The side navigation menu */
      .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          /*opacity: .85;*/
          background-color: #0CC28A;
           box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
          overflow-x: hidden;
          padding-top: 60px;
          transition: .5s;
      }

      /* The navigation menu links */
      .sidenav  {
          padding: 1em;
          text-align: center;
          text-decoration: none;
          font-size: 25px;
          color: #FFBE3E;
          display: block;
          transition: 5s;
      }
      /* Position and style the close button (top right corner) */
      .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
          transition: margin-right .5s;
          padding: 20px;
      }

  /*------------------------------------------*/
  h1.website-title{
    font-family: "Aleo", Verdana, sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    padding-top: .25em;
    padding-bottom: .1em;
    padding-left: .1em;
    padding-right: .25em;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: .1em;
    /*margin-right: .25em;*/
    /*margin-left: 2em;*/
  }
  h1.information-title{
    font-family: "Aleo", Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 1rem;
    margin: 2rem 1rem 0rem 1rem;
    text-align: center;
  }

  .main-nav {
      position: fixed;
      z-index: 1;
      background-color: #FFF;
      /*overflow: hidden;*/
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      width: 100%;
      transition-timing-function: ease-in-out;
      transition: .2s;
			/*border-radius: 10px;*/
			/*border: 1.5px solid  #FFBE3E;*/
			/*background-blend-mode: overlay;*/
			/*margin: 0;*/
			/*height: 500px;*/
			/*width: 300px;*/
			/*text-align: center;
			justify-content: center;
			align-items: center;
			position: relative;*/
      /*border-bottom: 2px dashed #838391;*/
  }
  .main-nav a:hover {
    color:#30303a;
    /*font-weight: bold;*/
    transition: .2s;
    transition-timing-function: ease-in-out;
  }
  .main-nav-item {
      font-family: "Dosis", Verdana, sans-serif;
      font-size: 3rem;
      font-weight: normal;
      letter-spacing: 3px;
      margin: .1em;
      color: #838391;
      float: right;
      display: inline-block;
      text-align: center;
      padding: 1.5rem;
      text-decoration: none;
      font-size: 17px;
      transition: .2s ease-out;
      transition-timing-function: ease-in-out;
  }

	.cart-nav-item {
			font-weight: bold;
			color: #F17058;
	}

	.cart-nav-item :hover{
		color: #FF523B;
	}

  .main-nav-item-header {
      font-family: "Aleo", Verdana, sans-serif;
      font-size: 3rem;
      letter-spacing: 5px;
      letter-spacing: 3px;
      margin: .1em;
      color: #838391;
      float: left;
      display: inline-block;
      text-align: center;
      padding: 1.5rem 1.5rem 1.5rem 0;
      text-decoration: none;
      font-size: 17px;
      transition: .2s ease-out;
      transition-timing-function: ease-in-out;
  }

.main-nav-item-header img {
  max-width: 3em;
}

.main-nav-item-header-image {
  padding: 0.5em 0 0 0.5em;
}

  /*how all buttons should look and react on the page*/
  button {
    font-family: "Dosis";
    font-weight: normal;
    font-size: .75em;
    padding:.5em 2em;
    margin: .25em;
    border-radius: 30px;
    letter-spacing: 5px;
    transition: .15s;
  }

  /*how all the buttons should react when hovered, fade from whatever hover styling is put*/
  button:hover{
      transition: .15s;
      font-weight: bold;
      cursor: pointer;
      /*font-weight: normal;*/
  }

  a{
    text-decoration: none;
    color:#2b2b35;
  }

  a.refine-search-button{
    font-family: "Dosis";
    font-weight: normal;
    font-size: .75em;
    padding:.5em 2em;
    margin: .25em;
    border-radius: 30px;
    letter-spacing: 5px;
    transition: .15s;
    background-color: #F47400;
    color:  white;
    border: 2px solid #F47400;
    margin-left: 3rem;
  }

  a.refine-search-button:hover{
    transition: .15s;
    /*font-weight: bold;*/
    cursor: pointer;
    background-color:  white;
    color: #F47400;
  }
  a.add-to-cart {
    font-family: "Dosis";
    font-weight: normal;
    font-size: .75em;
    padding:.5em 2em;
    margin: .25em;
    border-radius: 30px;
    letter-spacing: 5px;
    transition: .15s;
    background-color: #4A8480;
    color:  white;
    border: 2px solid #4A8480;
		margin-bottom: 1rem;
    /*margin-left: 2rem;*/
    float: left;

  }

  /*changes the submit button colour when hovered on*/
  a.add-to-cart:hover{
    transition: .15s;
    cursor: pointer;
    background-color:  white;
    color: #4A8480;
  }
    .product-index-more-button{

    background-color: #FFC969;
    color: white;
    border: 1px solid #FFC969;
    }

    /*changes the submit button colour when hovered on*/
    .product-index-more-button:hover{
      /*text-decoration: line-through;*/
    /*background-color:  #FFBE3E;*/
    color: white;
    }

  div.about-team-memebers {
    padding: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width:auto;
    background-color: white;
    border: 2px solid #97E7CC;
    border-radius: 25px;
    }

    div.internal-team-section {
      /*padding: 1.5rem;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 1rem;
      margin-bottom: 5rem;*/
      margin: 1rem;
      padding: .5rem;
      float: left;
      width:auto;
      background-color: white;
      /*color: white;*/
      border: 2px solid #97E7CC;
      border-radius: 25px;
      }

    .feedback-field{
      padding: 1.5rem;
      margin: 1rem;
      background-color: #FFC197;
      color: white;
      border-radius: 25px;
      font-family: "Dosis";
      /*font-weight: bold;*/
      font-size: 1em;
      padding:.5em 2em;
      margin: .25em;
      }

      .ship{
        padding: 1.5rem;
        margin: 1rem;
        background-color: #FFBE3E;
        color: white;
        border-radius: 25px;
        font-family: "Dosis";
        opacity: .85;
        font-size: .75em;
        padding:.5em 2em;
        margin: .25em;
        }

        .payment-method{
          padding: 1.5rem;
          margin: 1rem;
          background-color: #FFBE3E;
          color: white;
          border-radius: 25px;
          opacity: .85;
          font-family: "Dosis";
          /*font-weight: bold;*/
          font-size: .75em;
          padding:.5em 2em;
          margin: .25em;
          }

          .bill{
            padding: 1.5rem;
            margin: 1rem;
            background-color: #FFBE3E;
            opacity: .85;
            color: white;
            border-radius: 25px;
            font-family: "Dosis";
            /*font-weight: bold;*/
            font-size: .75em;
            padding:.5em 2em;
            margin: .25em;
            }

  .billing-submit-button{

  }
  input{
      padding: 12px 20px;
      box-sizing: border-box;
  }

  input.filter-spacing{
    padding: .1rem;
    margin: .75rem;
    box-sizing: border-box;
  }

  label.form-titles {
        font-family: "Dosis", Verdana, sans-serif;
        letter-spacing: 2px;
  }

  label.form-enteries{
    font-size: 16px;
  }

  input[type="checkbox"] {
  }

  .buttons-product-page{
    margin: 1rem;
    padding: 1rem;
		/*justify-content: center;*/
		text-align: center;
  }
.button-double{
	display:inline-block
}
  .dropbtn {
      background-color: white;
      border: 2px solid #F97C00;
      border-radius: 5px;
      padding: 1rem;
      color: #F97C00;
      cursor: pointer;
  }

  .dropbtn:hover{
    background-color: #F97C00;
    color: white;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 1rem;
      padding-left: 1rem;
			-webkit-appearance: none;
  }

	.dropdown-internal {
			position: relative;
			display: inline-block;
			/*margin-left: 1rem;*/
			padding-left: 1rem;
			-webkit-appearance: none;
	}

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover{
    background-color: #f1f1f1;

  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

    label.filter-title{
      font-family: "Aleo", Verdana, sans-serif;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
    }

    textarea{
      height:350px;
    }

    .personalize-details{
      margin-left: 1rem;
      /*padding-left: 1rem;*/
    }

  .filter-search{
    border-radius: 10px;
    /*background-color: #FAF4EF;*/
    background-color: white;
    /*border: 1px dashed #838391;*/
    /*border: 2px solid  #FFBE3E;*/
    padding: 1.5rem;
    margin: 3.5rem;
    position: relative;
  }
    .product-box{
      /*border-radius: 10px;*/
      /*border: 1.5px solid  #FFBE3E;*/
      /*background-blend-mode: overlay;*/
      padding: 0;
      margin-top:.1rem;
      margin-bottom: .1rem;
      margin-left: .5rem;
      margin-right: .5rem;
      /*height: 500px;*/
      /*width: 300px;*/
      text-align: center;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .product-box-container{
      /*border-radius: 10px;*/
      /*border: 1.5px solid  #FFBE3E;*/
      /*background-blend-mode: overlay;*/
      /*margin-bottom: 3rem;*/
      padding: 1rem;
      margin: 1.5rem;
      /*height: 500px;*/
      /*width: 300px;*/
      text-align: center;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .product-box-container-text{
      /*border-radius: 10px;*/
      /*border: 1.5px solid  #FFBE3E;*/
      /*background-blend-mode: overlay;*/
      margin: 0;
      /*height: 500px;*/
      /*width: 300px;*/
      text-align: center;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .product-box-2{
      /*padding: auto;*/
      position: relative;
      /*border-radius: 10px;*/
      /*border: 2px solid   #FFBE3E;*/
      padding: 1rem;
      margin: 1rem;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    /*.checkout-box-container {
        background: #FFF;
    }*/

  .product-name{
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding: .25em;
  }

  .checkbox-center{
  align-items: center;
	text-align: center;
  }

	.checkbox-pair{
		position: relative;
		padding: .1rem;
		margin: .3rem;
		float: left;
	}

  .checkbox-container{
    padding:auto;
    margin: .5rem;
    /*height: 500px;*/
    /*width: 300px;*/
    /*text-align: center;
    justify-content: center;
    align-items: center;*/
    position: relative;
  }
  .price-tag{
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
      margin: auto;
    text-align: center;
    padding: .1em;
  }

  .title-page-bg{
    background-color:#FCEBC9;
    margin: 0;
    /*margin-left: -2rem;
    margin-right: -1rem;*/
  }
  /*.title-page-bg2{
    background-color:#FED484;
    margin-left: -2rem;
    margin-right: -1rem;
  }

  .title-page-bg3{
    background-color:#FEC961;
    margin-left: -2rem;
    margin-right: -1rem;
  }*/
      /*END OF REFERENCED CODE*/
