  /*SUPPORT PAGE CSS*/

  /*center content*/
  .centered{
    margin: auto;
    display: block;
  }

  /*styling conatiner of company's details section*/
  .contact-main{
    background-color: white;
    border-radius: 15px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #2b2b35;
    padding: 1rem 1rem 6rem 1rem;
  }

  /*styling heading 2 to fit into the container*/
  .contact-main h2{
    margin-left: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /*grid of company's contact info to display as block*/
  /*.grid-contact-info{
    display: block;
  }*/

  /*map div container*/
  .maps{
    position: relative;
    height: 0;
    padding-bottom: 70%;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  /*size and appearance of the google maps*/
  .maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  /*grid following col-1of2 to style width of map*/
  .grid-maps{
    float: left;
    width: 50%;
  }

  /*grid following col-1of2 to style width of company's details*/
  .grid-text{
    float: left;
    width: 40%;
  }

  /* Styling of Company's Contact Text*/
  .support-text article{
    margin-bottom: 1.5rem;
  }

  .support-text h3{
    font-size: 0.95rem;
  }

  .support-text p{
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
  }

  /* Contact us message form */
  .feedback-field{
    margin: 7rem;
    padding: 2rem;
    display: block;
    background-color: white;
  }

  .feedback-field h2{
    color: #2b2b35;
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
  }

  .feedback-field label{
    font-family: "Dosis", Verdana, sans-serif;
    letter-spacing: 4px;
    color: #2b2b35;
    font-size: .75em;
  }

  .feedback-details textarea{
    padding: 1.5rem;
    font-size: 0.8rem;
  }

  /* Contact us details container*/
  .feedback-details{
    display: inline-block;
    width: 100%;
  }

  /* Contact Us Submit Button Styling*/
  .contact-form-submit input{
    font-family: "Dosis", sans-serif;
    font-weight: normal;
    font-size: .75em;
    padding: .5em 2em;
    margin: .25em;
    letter-spacing: 5px;
    color: #FFF;
    background-color: #FC9D1F;
    border: 2px solid #FC9D1F;
    border-radius: 30px;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    text-align: center;
    text-transform: uppercase;
  }

  /* Contact Us Submit form on HOVER*/
  .contact-form-submit input:hover{
    letter-spacing: 5px;
    border-radius: 30px;
    border: 2px solid #FC9D1F;
    background-color: white;
    color: #FC9D1F;
  }

  /* MEDIA QUERIES specifically for the map and grid for text */
  /* using max-width to control the size of the map on the page */
  @media (max-width: 107em) {
    .grid-maps{
      width: 60%;
      /*margin-bottom: 2rem;*/
    }

    .maps{
      margin-left: 10rem;
      padding-bottom: 50%;
    }
  }

  @media (max-width: 88em) {
    .grid-maps{
      width: 60%;
    }

    .maps{
      margin-left: 10rem;
      padding-bottom: 22rem;
    }

    .grid-text{
      width: 40%;
    }
  }

  @media (max-width: 80em) {

    .maps{
      margin-left: 3rem;
    }
  }

  @media (max-width: 72em) {
    .grid-maps{
      width: 60%;
    }

    .maps{
      margin-left: 3rem;
      padding-bottom: 18rem;
    }

    .grid-text{
      width: 40%;
    }
  }

  @media (max-width: 65em) {
    .grid-maps{
      width: 60%;
    }

    .maps{
      margin-left: 3rem;
    }

    .grid-text{
      width: 40%;
    }
  }

  @media (max-width: 63em) {
    .grid-maps{
      width: 100%;
    }

    .maps{
      padding-bottom: 65%;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .grid-text{
      width: 100%;
    }
  }

  @media (max-width: 56.8em) {
    .grid-maps{
      width: 100%;
    }

    .maps{
      padding-bottom: 65%;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .grid-text{
      width: 100%;
    }
  }

  @media (max-width: 40em) {
    .maps{
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .grid-text{
      width: 100%;
    }
  }

  @media (max-width: 22em) {
    .grid-maps{
      width: 100%;
    }

    .grid-text{
      width: 100%;
    }
  }

  /* MEDIA QUERIES for the rest of the content on the SUPPORT PAGE */

  @media (min-width: 22em) {
    .support-text{
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .support-text h3{
      padding: 0;
      margin: 0;
    }

    .support-text p{
      padding-left: 0;
      margin: 0;
    }

    .contact-main{
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
    }

    .contact-main h2{
      text-align: center;
    }

    .feedback-field{
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .feedback-labels{
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .feedback-field h2{
      text-align: center;
      margin-left: 0;
    }

    .contact-form-submit{
      text-align: center;
    }

  }

  @media (min-width: 31em) {
    .contact-form-submit{
      float: right;
    }
  }

  @media (min-width: 40em) {
    .contact-main{
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .feedback-field{
      margin-left: 1rem;
      margin-right: 1rem;
    }

    form{
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .support-text{
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  @media (min-width: 50em) {
    .contact-main{
      margin-left: 8rem;
      margin-right: 8rem;
    }

    .feedback-field{
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }

  @media (min-width: 79em) {
    .support-text article{
      padding-bottom: 1rem;
    }
  }

  @media (min-width: 80em) {

    .contact-main{
      margin-left: 10rem;
      margin-right: 10rem;
    }

    .support-text{
      margin-right: 8rem;
    }

    .support-text article{
      padding-bottom: 1rem;
    }

    .feedback-field{
      margin-left: 10rem;
      margin-right: 10rem;
    }

    form{
      margin-left: 8rem;
      margin-right: 8rem;
    }

    .contact-form-submit{
      float: right;
    }
  }

  @media (min-width: 88em) {
    .support-text article{
      padding-bottom: 1rem;
    }
  }

  @media (min-width: 107em) {
    .support-text article{
      padding-bottom: 2rem;
    }
  }

  @media (min-width: 22em) {
    .maps-sg {
      margin-left: 0;
    }
  }
